/*TODO delete redundant styles -=> refactor*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    /*border: 0;*/
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;
}

html, body {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
}

/** {*/
/*border: 1px solid black;*/
/*}*/

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

/*a:visited {*/
/*color: #fff; !* Цвет посещенной ссылки *!*/
/*}*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*Flexbox test*/
.sb-header__topbar-menu,
.sb-header__topbar-menu > *,
.sb-header__sharepoint,
.sb-header__user-navigation,
.sb-header__user-links,
.sb-header__topbar-menu1,
.st-header__block-manage-block1-li,
.st-header__manage-block2,
.st-header__block-manage-block2-li,
.st-header__manage-block2-link,
.sb-header__searchbar,
.sb-header__epam-logo,
.sb-content,
.custom,
.sb-content__main-section,
.sb-footer,
.sb-footer__epam-info,
.wrapper,
.wrapper-wrapper,
.sb-content__calendar-dayswrapper-list {
    display: flex;
}

.sb-header__blueline,
.sb-header__whiteline,
.sb-header__sharepoint > *,
.sb-header__user-links > *,
.sb-header__topbar-menu1 > *,
.sb-header__searchbar > *,
.sb-footer > *,
.sb-footer__epam-info > *,
.wrapper > *,
.sb-content__calendar-dayswrapper-list > * {
    flex-direction: row;
}

.wrapper {
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    text-align: left;
    padding: 8px;

}



th {
    background-color: #4CAF50;
    color: white;
    height: 50px;
    vertical-align: middle;
}

.sb-content-today-block-tableheader,
.sb-content__calendar-tableheader {
    background-color: #666666;
    display: flex;
    padding: 15px 15px;
    align-items: center;
    justify-content: flex-start;
}

.sb-content-today-block-tableheader > *,
.sb-content__calendar-tableheader > * {
    flex-direction: row;
    margin-right: 10px;
}

/*.sb-header {*/
/*align-items: stretch;*/
/*}*/

.sb-header__sharepoint,
.sb-header__searchbar {
    align-items: center;
}

.sb-header__blueline {
    flex-grow: 15;
    justify-content: space-between;
    padding: 0 18px;
    overflow: hidden;
    background-color: #39c2d7;

}

.sb-header__text-logo {
    margin-left: 2px;
}

.sb-header__sharepoint > * {
    padding: 0 2px;
}

.sb-header__whiteline {
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #eee;

}

.sb-header__user-links,
.sb-header__user-navigation {
    align-items: center;

}

.sb-header__user-navigation li {
    padding: 7px;
}

.sb-header__topbar-menu1 {
    justify-content: space-between;
    align-items: center;
    background-color: #eee;

}

.st-header__manage-block2,
.st-header__manage-block1 {
    padding: 5px 10px;

}

.st-header__manage-block2-link,
.st-header__block-manage-block1-link {
    align-items: center;
    padding: 0 10px;
}

.icons-spacing {
    margin-right: 5px;
}

.w3-theme:hover {
    color: #fff !important;
    background-color: #39c2d7 !important
}

.nav-bar-hover:hover {
    color: #fff !important;
    background-color: #31a5b7 !important
}

.sb-header__searchbar {
    justify-content: space-between;
    background-color: #464547;
    padding: 5px 8px;

}

.sb-header__epam-logo {
    align-items: center;

}

.sb-header__epam-logo > * {
    padding: 0 8px;
}

.odm-text {
    font-family: "Oswald Regular";
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
    color: #7ae6f7;
}

.sb-header__searchbar-search {
    margin-right: 10px;
}

.epam-logo {
    margin-top: 5px;
}

.sb-content__main-nav {
    background-color: #39c2d7;

}

.sb-content__main-section {
    flex-grow: 1;
}

.sb-content__main-nav_button {
    padding: 20px;
    padding-left: 30px;
    font-size: 20px;
}

.sb-content {
    /*min-height: 82%;*/
    flex-grow: 8;
}

.w3-custom-button-color {
    color: #fff;
    background-color: #39c2d7
}

.custom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #5ecbdc;
    align-items: center;
    padding: 20px 30px;

}

.sb-content__calendar-dayswrapper-list {
    padding-left: 1%;
    justify-content: space-around;
}

.override-fonts {
    font-size: 14px;
    font-family: "Oswald Regular";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}

.main-td1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    background-color: #fff;
}

.extra-color {
    color: #feffff;
!important;
}

.sb-content__calendar-headcolor {
    background-color: #fff;
}

.override-fonts1 {
    font-size: 13px;
    font-family: "Oswald Regular";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}

.override-fonts-defaultfont {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    font-size: 12px;
}

.override-fonts-defaultfont1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    font-size: 12px;
}

.ss {
    margin-left: 18px;
}

.ss1 {
    margin-right: 100px;
}

.sb-content__main-section > * {

    margin: 14px 2%;
}

.sb-content-calendar-wrapper {
    flex-grow: 5;
    border: 1px solid gainsboro;
    box-sizing: border-box;

}

.sb-content-today-block-wrapper {
    font-family: 'PT Sans', sans-serif;
    flex-grow: 2;
    font-size: 14px;
    border: 1px solid gainsboro;
    border-radius: 2px;
    box-sizing: border-box;
    margin-left: 0px;
}


.test {
    /*width: 14%;*/
    /*height: 100px;*/
    /*border: 1px solid darkgrey;*/
    /*justify-content: center;*/
    /*align-items: center;*/

}

.sb-content__calendar-todo-link:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.main-table {
    width: 90%;

}

.main-td {
    width: 10%;
    position: relative;

    border: 2px solid gainsboro;

}



.main-td:after {
    content: '';
    display: flex;
    flex-direction: row;
    margin-top: 90%;

}

.main-td .content {
    position: absolute;
    top: 2%;
    bottom: 0;
    left: 4%;
    right: 0;
    display: flex;
    flex-direction: row;
    z-index: -1;

}

[class*="sb-content__calendar-note"] {
    font-size: 67%;
    text-align: left;
    color: #fff;
    position: absolute;
    left: 0;
    height: 13%;
    overflow: hidden;
    padding-left: 10%;
    z-index: 3;
}

.sb-content__calendar-additional-info {
    top: 85%;
    color: black;
}

.sb-content__calendar-note-1 {
    top: 24%;
    width: 304%;
    background-color: #a3c644;
}

.sb-content__calendar-note-yellow-1 {
    top: 24%;
    width: 304%;
    background-color: #ecc134;
}

.sb-content__calendar-note-yellow-2 {
    top: 40%;
    width: 304%;
    background-color: #ecc134;
}

.sb-content__calendar-note-2 {
    top: 40%;
    width: 304%;
    background-color: #ecc134;
}

.sb-content__calendar-note-3 {
    top: 24%;
    width: 203%;
    background-color: #ecc134;
}

.sb-content__calendar-note-4 {
    top: 40%;
    width: 303%;
    background-color: #b32746;
}

.sb-content__calendar-note-5 {
    top: 55%;
    width: 103%;
    background-color: #937ebd;

}

.sb-content__calendar-note-6 {
    top: 70%;
    width: 203%;
    background-color: #39b7ac;
}

@media only screen and (max-width: 2100px) {
    .main-table {
        width: 75%;
    }
}

@media only screen and (max-width: 1630px) {
    .main-table {
        width: 90%;
    }

    .content {
        font-size: 75%;
    }

    .sb-content__calendar-note-1,
    .sb-content__calendar-note-2,
    .sb-content__calendar-note-3,
    .sb-content__calendar-note-4,
    .sb-content__calendar-note-5,
    .sb-content__calendar-note-6,
    .sb-content__calendar-note-7 {
        font-size: 50%;
        /*// text-align: left;*/

        position: absolute;
        height: 13%;
        overflow: hidden;
        padding-left: 10%;
        z-index: 3;
    }
}

@media only screen and (max-width: 1360px) {
    .main-table {
        width: 90%;
    }

    .content {
        font-size: 55%;
    }

    .sb-content__calendar-note-1,
    .sb-content__calendar-note-2,
    .sb-content__calendar-note-3,
    .sb-content__calendar-note-4,
    .sb-content__calendar-note-5,
    .sb-content__calendar-note-6,
    .sb-content__calendar-note-7 {
        font-size: 40%;
        text-align: left;
        position: absolute;
        left: 0px;
        height: 12%;
        overflow: hidden;
        padding-left: 10%;
        z-index: 3;
    }
}

@media only screen and (max-width: 1220px) {
    .content {
        font-size: 40%;
    }

    .main-table {
        width: 90%;
    }

    .sb-content__calendar-note-1,
    .sb-content__calendar-note-2,
    .sb-content__calendar-note-3,
    .sb-content__calendar-note-4,
    .sb-content__calendar-note-5,
    .sb-content__calendar-note-6,
    .sb-content__calendar-note-7 {
        font-size: 30%;
        text-align: left;
        position: absolute;
        left: 0px;
        height: 13%;
        overflow: hidden;
        padding-left: 10%;
        z-index: 3;
    }
}

.sb-content__calendar-note-1-colorblock1,
.sb-content__calendar-note-1-colorblock2,
.sb-content__calendar-note-1-colorblock3,
.sb-content__calendar-note-1-colorblock4,
.sb-content__calendar-note-1-colorblock5,
.sb-content__calendar-note-1-colorblock6 {
    display: inline-block;
    position: absolute;
    top: 0;

    height: 100%;
    z-index: 1;
    overflow: hidden;


}

.sb-content__calendar-note-1-colorblock1 {
    background-color: #6a812c;
    left: -8%;
    width: 10%;
}

sb-content__calendar-note-1-colorblock2 {
    background-color: #9a0093;
    left: -555%;
    width: 10%;
}

.sb-content__calendar-note-1-colorblock3 {
    background-color: #9a7e22;
    left: -8%;
    width: 10%;
}

.sb-content__calendar-note-1-colorblock4 {
    background-color: #75192e;
    left: -8%;
    width: 10%;
}

.sb-content__calendar-note-1-colorblock5 {
    background-color: #60527b;
    left: -4%;
    width: 10%;
}

.sb-content__calendar-note-1-colorblock6 {
    background-color: #257770;
    left: -7%;
    width: 10%;
}

.sb-content__main-section {
    display: flex;
    flex-direction: row;
}

.sb-content-calendar-wrapper {
    flex-grow: 6;
    flex-shrink: 5;
}

.sb-content__calendar-rowwrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;

}

footer {
    background-color: #464547;
    height: 7%;

}

.sb-footer__epam-info {
    justify-content: space-between;

}

.sb-footer__epam-sign {
    margin: 0 10%;
}

.sb-content-calendar-wrapper {
    overflow: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.sb-content-calendar-wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper-wrapper {
    flex-wrap: wrap;

}

.sb-footer {
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.sb-footer__epamc,
.sb-footer__epam-about,
.sb-footer__epam-bug,
.sb-footer__epam-sign {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    color: #ccc;
}

.sb-footer__epam-bug {
    height: 10px;
    width: 100px;
}

.main-table-flex {
    margin : 0  auto;
}

/*.sb-footer {*/
/*align-items: center;*/
/*justify-content: space-between;*/
/*height: 7%;*/
/*position: absolute;*/
/*left: 0;*/
/*bottom: 0;*/
/*width: 100%;*/
/*overflow:hidden;*/
/*}*/